---
http_interactions:
- request:
    method: patch
    uri: https://api.superthread.com/v1/test_workspace/cards/card-123/checklists/checklist-1
    body:
      encoding: UTF-8
      string: '{"title":"Updated checklist"}'
    headers:
      Authorization:
      - Bearer test_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"checklist-1","title":"Updated checklist","card_id":"card-123","time_created":1705312200000,"time_updated":1705400000000}'
  recorded_at: Mon, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.2.0
