---
http_interactions:
- request:
    method: patch
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/lists/100
    body:
      encoding: UTF-8
      string: '{"title":"Backlog"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"id":"100","title":"Backlog","color":"gray","board_id":"10","position":0}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
