---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/boards/10/copy
    body:
      encoding: UTF-8
      string: '{"title":"Copy of Sprint Board"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"board":{"id":"board-dup-1","title":"Copy of Sprint Board","description":"Current sprint tasks","space_id":"1","time_created":1705312200000,"time_updated":1705312200000,"lists":[{"id":"200","title":"To Do","color":"gray","position":0},{"id":"201","title":"In Progress","color":"blue","position":1},{"id":"202","title":"Done","color":"green","position":2}]}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
