---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/boards
    body:
      encoding: UTF-8
      string: '{"space_id":"1","title":"New Board","content":"A new board for testing"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"board":{"id":"board-new-1","title":"New Board","description":"A new board for testing","space_id":"1","time_created":1705312200000,"time_updated":1705312200000,"lists":[]}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
