---
http_interactions:
- request:
    method: get
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/boards/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"board":{"id":"10","title":"Sprint Board","description":"Current sprint tasks","space_id":"1","time_created":1705312200000,"time_updated":1705398600000,"lists":[{"id":"100","title":"To Do","color":"gray","position":0},{"id":"101","title":"In Progress","color":"blue","position":1},{"id":"102","title":"Done","color":"green","position":2}]}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
