---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/lists
    body:
      encoding: UTF-8
      string: '{"board_id":"10","title":"Review"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"list":{"id":"103","title":"Review","color":"purple","board_id":"10","position":3}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
