---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/test_workspace/views/preview
    body:
      encoding: UTF-8
      string: '{"type":"card","card_filters":{"include":{"members":["u123abc"]}}}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"cards":[{"id":"card-123","title":"Implement feature X","status":"started","priority":2,"list_title":"In Progress"},{"id":"card-456","title":"Fix bug Y","status":"open","priority":1,"list_title":"To Do"}]}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
