---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/cards/card-123/checklists/checklist-1/items
    body:
      encoding: UTF-8
      string: '{"title":"Write unit tests","checklist_id":"checklist-1","checked":false}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"item-1","title":"Write unit tests","checked":false,"checklist_id":"checklist-1","position":0}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
