---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/cards/card-123/copy
    body:
      encoding: UTF-8
      string: '{"title":"Copy of Implement feature X"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"card":{"id":"card-dup-1","title":"Copy of Implement feature X","status":"started","priority":2,"board_id":"10","board_title":"Sprint Board","list_id":"101","list_title":"In Progress","time_created":1705312200000,"time_updated":1705312200000,"is_watching":false,"members":[],"tags":[{"id":"tag-1","name":"backend","color":"blue"}],"checklists":[]}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
