---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/comments
    body:
      encoding: UTF-8
      string: '{"content":"New comment content","card_id":"card-123"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"comment":{"id":"comment-new-1","content":"<p>New comment content</p>","user_id":"user-1","card_id":"card-123","time_created":1705398600000}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
