---
http_interactions:
- request:
    method: get
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/comments/comment-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"comment":{"id":"comment-1","content":"<p>This is a test comment</p>","user_id":"user-1","card_id":"card-123","time_created":1705312200000,"time_updated":1705398600000}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
