---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/pages
    body:
      encoding: UTF-8
      string: '{"title":"New Page","content":"Page content here","space_id":"1"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":{"id":"page-new-1","title":"New Page","space_id":"1","content":"Page content here","time_created":1705398600000}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
