---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/pages/page-1/copy
    body:
      encoding: UTF-8
      string: '{"project_id":"1","title":"Copy of Getting Started"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":{"id":"page-dup-1","title":"Copy of Getting Started","space_id":"1","time_created":1705398600000}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
