---
http_interactions:
- request:
    method: patch
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/pages/page-1
    body:
      encoding: UTF-8
      string: '{"archived":true}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":{"id":"page-1","title":"Getting Started","space_id":"1","archived":true,"time_created":1705312200000,"time_updated":1705485000000}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
