---
http_interactions:
- request:
    method: get
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/search?q=authentication&types%5B%5D=card&types%5B%5D=page
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":[{"id":"card-auth","title":"Auth Module","type":"card","space_id":"1"}]}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
