---
http_interactions:
- request:
    method: get
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/projects/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"project":{"id":"1","title":"Engineering","description":"Engineering team space","icon":"code","time_created":1705312200000,"time_updated":1705398600000,"members":[{"user_id":"u123abc","role":"admin"}]}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
