---
http_interactions:
- request:
    method: post
    uri: https://api.superthread.com/v1/test_workspace/projects/1/members
    body:
      encoding: UTF-8
      string: '{"user_id":"user-123","role":"admin"}'
    headers:
      Authorization:
      - Bearer test_key
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"member":{"id":"member-new-2","user_id":"user-123","space_id":"1","role":"admin","time_created":1705312200000}}'
  recorded_at: Mon, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.2.0
