---
http_interactions:
- request:
    method: patch
    uri: https://api.superthread.com/v1/<WORKSPACE_ID>/tags/tag-1
    body:
      encoding: UTF-8
      string: '{"name":"critical","color":"#ff5500"}'
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"tag":{"id":"tag-1","name":"critical","color":"#ff5500","time_created":1705312200000,"time_updated":1705485000000}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
