---
http_interactions:
- request:
    method: get
    uri: https://api.superthread.com/v1/teams/test_workspace/members
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"members":[{"user_id":"u123abc","display_name":"Test User","email":"test@example.com","role":"owner"},{"user_id":"u456def","display_name":"Another User","email":"another@example.com","role":"member"}]}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
