---
http_interactions:
- request:
    method: get
    uri: https://api.superthread.com/v1/users/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"user":{"id":"user-1","name":"Test User","email":"test@example.com","teams":[{"id":"ws-123","team_name":"My Team","role":"admin"},{"id":"ws-456","team_name":"Other Team","role":"member"}]}}'
  recorded_at: Thu, 15 Jan 2024 10:30:00 GMT
recorded_with: VCR 6.0.0
